<a href="https://colab.research.google.com/github/zhenxiay/GoogleColab/blob/main/PySpark_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=90e3d1ee8235beb18c21e685f671a1d9d08e6f96d743b605722aac633cdd1bb0
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.functions import *
from pyspark.sql.types import *
import pyspark.pandas as ps

/usr/local/lib/python3.10/dist-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [ ]:
spark = SparkSession \
        .builder \
        .appName("firstSpark") \
        .getOrCreate()

In [ ]:
path='https://raw.githubusercontent.com/PacktPublishing/Python-for-Finance-Cookbook/master/Datasets/credit_card_default.csv'

In [ ]:
df = spark.createDataFrame(pd.read_csv(path))

In [ ]:
df.printSchema()
df.count()

root
 |-- Unnamed: 0: long (nullable = true)
 |-- limit_bal: long (nullable = true)
 |-- sex: string (nullable = true)
 |-- education: string (nullable = true)
 |-- marriage: string (nullable = true)
 |-- age: double (nullable = true)
 |-- payment_status_sep: string (nullable = true)
 |-- payment_status_aug: string (nullable = true)
 |-- payment_status_jul: string (nullable = true)
 |-- payment_status_jun: string (nullable = true)
 |-- payment_status_may: string (nullable = true)
 |-- payment_status_apr: string (nullable = true)
 |-- bill_statement_sep: long (nullable = true)
 |-- bill_statement_aug: long (nullable = true)
 |-- bill_statement_jul: long (nullable = true)
 |-- bill_statement_jun: long (nullable = true)
 |-- bill_statement_may: long (nullable = true)
 |-- bill_statement_apr: long (nullable = true)
 |-- previous_payment_sep: long (nullable = true)
 |-- previous_payment_aug: long (nullable = true)
 |-- previous_payment_jul: long (nullable = true)
 |-- previous_payment_jun: long (nullable = true)
 |-- previous_payment_may: long (nullable = true)
 |-- previous_payment_apr: long (nullable = true)
 |-- default_payment_next_month: long (nullable = true)

30000

In [ ]:
df.show(5,0)

+----------+---------+------+----------+--------+----+------------------------+------------------------+------------------+------------------+------------------+------------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------------+
|Unnamed: 0|limit_bal|sex   |education |marriage|age |payment_status_sep      |payment_status_aug      |payment_status_jul|payment_status_jun|payment_status_may|payment_status_apr      |bill_statement_sep|bill_statement_aug|bill_statement_jul|bill_statement_jun|bill_statement_may|bill_statement_apr|previous_payment_sep|previous_payment_aug|previous_payment_jul|previous_payment_jun|previous_payment_may|previous_payment_apr|default_payment_next_month|
+----------+---------+------+----------+--------+----+------------------------+------------------------+------------------+------------------+------------------+------------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------------+
|0         |20000    |Female|University|Married |24.0|Payment delayed 2 months|Payment delayed 2 months|Payed duly        |Payed duly        |Unknown           |Unknown                 |3913              |3102              |689               |0                 |0                 |0                 |0                   |689                 |0                   |0                   |0                   |0                   |1                         |
|1         |120000   |Female|University|Single  |26.0|Payed duly              |Payment delayed 2 months|Unknown           |Unknown           |Unknown           |Payment delayed 2 months|2682              |1725              |2682              |3272              |3455              |3261              |0                   |1000                |1000                |1000                |0                   |2000                |1                         |
|2         |90000    |Female|University|Single  |34.0|Unknown                 |Unknown                 |Unknown           |Unknown           |Unknown           |Unknown                 |29239             |14027             |13559             |14331             |14948             |15549             |1518                |1500                |1000                |1000                |1000                |5000                |0                         |
|3         |50000    |Female|University|Married |37.0|Unknown                 |Unknown                 |Unknown           |Unknown           |Unknown           |Unknown                 |46990             |48233             |49291             |28314             |28959             |29547             |2000                |2019                |1200                |1100                |1069                |1000                |0                         |
|4         |50000    |Male  |University|Married |57.0|Payed duly              |Unknown                 |Payed duly        |Unknown           |Unknown           |Unknown                 |8617              |5670              |35835             |20940             |19146             |19131             |2000                |36681               |10000               |9000                |689                 |679                 |0                         |
+----------+---------+------+----------+--------+----+------------------------+------------------------+------------------+------------------+------------------+------------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------------+
only showing top 5 rows

In [ ]:
df.write.format("parquet").mode("overwrite").saveAsTable("credit_risk")

In [ ]:
df.dropna().groupBy('Sex').agg(count('age').alias('count'),avg('default_payment_next_month').alias('avg_default')).show()

+------+-----+-------------------+
|   Sex|count|        avg_default|
+------+-----+-------------------+
|Female|17933|0.20715998438632688|
|   NaN|  150|0.24666666666666667|
|  Male|11767|0.24211778703152886|
+------+-----+-------------------+

In [ ]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder

In [ ]:
stringIndexer = StringIndexer(inputCol="payment_status_sep",
                              outputCol="paymentStatusIndexSep")
model = StringIndexer.fit(df)
indexed_df = model.transform(df)

TypeError: Estimator.fit() missing 1 required positional argument: 'dataset'

In [ ]:
encoder = OneHotEncoder(inputCol="paymentStatusIndexSep", outputCol="PaymentStatusIndexSepVec")
encoded_df = encoder.transform(indexed_df)

AttributeError: 'OneHotEncoder' object has no attribute 'transform'

In [ ]:
indexed_df.show()

+----------+---------+------+---------------+--------+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------------+---------------------+
|Unnamed: 0|limit_bal|   sex|      education|marriage| age|  payment_status_sep|  payment_status_aug|  payment_status_jul|  payment_status_jun|  payment_status_may|  payment_status_apr|bill_statement_sep|bill_statement_aug|bill_statement_jul|bill_statement_jun|bill_statement_may|bill_statement_apr|previous_payment_sep|previous_payment_aug|previous_payment_jul|previous_payment_jun|previous_payment_may|previous_payment_apr|default_payment_next_month|paymentStatusIndexSep|
+----------+---------+------+---------------+--------+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------------+---------------------+
|         0|    20000|Female|     University| Married|24.0|Payment delayed 2...|Payment delayed 2...|          Payed duly|          Payed duly|             Unknown|             Unknown|              3913|              3102|               689|                 0|                 0|                 0|                   0|                 689|                   0|                   0|                   0|                   0|                         1|                  3.0|
|         1|   120000|Female|     University|  Single|26.0|          Payed duly|Payment delayed 2...|             Unknown|             Unknown|             Unknown|Payment delayed 2...|              2682|              1725|              2682|              3272|              3455|              3261|                   0|                1000|                1000|                1000|                   0|                2000|                         1|                  1.0|
|         2|    90000|Female|     University|  Single|34.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             29239|             14027|             13559|             14331|             14948|             15549|                1518|                1500|                1000|                1000|                1000|                5000|                         0|                  0.0|
|         3|    50000|Female|     University| Married|37.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             46990|             48233|             49291|             28314|             28959|             29547|                2000|                2019|                1200|                1100|                1069|                1000|                         0|                  0.0|
|         4|    50000|  Male|     University| Married|57.0|          Payed duly|             Unknown|          Payed duly|             Unknown|             Unknown|             Unknown|              8617|              5670|             35835|             20940|             19146|             19131|                2000|               36681|               10000|                9000|                 689|                 679|                         0|                  1.0|
|         5|    50000|  Male|Graduate school|  Single|37.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             64400|             57069|             57608|             19394|             19619|             20024|                2500|                1815|                 657|                1000|                1000|                 800|                         0|                  0.0|
|         6|   500000|  Male|Graduate school|  Single|29.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|            367965|            412023|            445007|            542653|            483003|            473944|               55000|               40000|               38000|               20239|               13750|               13770|                         0|                  0.0|
|         7|   100000|Female|     University|  Single|23.0|             Unknown|          Payed duly|          Payed duly|             Unknown|             Unknown|          Payed duly|             11876|               380|               601|               221|              -159|               567|                 380|                 601|                   0|                 581|                1687|                1542|                         0|                  0.0|
|         8|   140000|Female|    High school| Married|28.0|             Unknown|             Unknown|Payment delayed 2...|             Unknown|             Unknown|             Unknown|             11285|             14096|             12108|             12211|             11793|              3719|                3329|                   0|                 432|                1000|                1000|                1000|                         0|                  0.0|
|         9|    20000|  Male|    High school|  Single|35.0|             Unknown|             Unknown|             Unknown|             Unknown|          Payed duly|          Payed duly|                 0|                 0|                 0|                 0|             13007|             13912|                   0|                   0|                   0|               13007|                1122|                   0|                         0|                  0.0|
|        10|   200000|Female|    High school|  Single|34.0|             Unknown|             Unknown|Payment delayed 2...|             Unknown|             Unknown|          Payed duly|             11073|              9787|              5535|              2513|              1828|              3731|                2306|                  12|                  50|                 300|                3738|                  66|                         0|                  0.0|
|        11|   260000|Female|Graduate school|  Single|51.0|          Payed duly|          Payed duly|          Payed duly|          Payed duly|          Payed duly|Payment delayed 2...|             12261|             21670|              9966|              8517|             22287|             13668|               21818|                9966|                8583|               22301|                   0|                3640|                         0|                  1.0|
|        12|   630000|Female|     University|  Single|41.0|          Payed duly|             Unknown|          Payed duly|          Payed duly|          Payed duly|          Payed duly|             12137|              6500|              6500|              6500|              6500|              2870|                1000|                6500|                6500|                6500|                2870|                   0|                         0|                  1.0|
|        13|    70000|  Male|     University|  Single|30.0|Payment delayed 1...|Payment delayed 2...|Payment delayed 2...|             Unknown|             Unknown|Payment delayed 2...|             65802|             67369|             65701|             66782|             36137|             36894|                3200|                   0|                3000|                3000|                1500|                   0|                         1|                  2.0|
|        14|   250000|  Male|Graduate school|  Single|29.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             70887|             67060|             63561|             59696|             56875|             55512|                3000|                3000|                3000|                3000|                3000|                3000|                         0|                  0.0|
|        15|    50000|Female|    High school|  Others|23.0|Payment delayed 1...|Payment delayed 2...|             Unknown|             Unknown|             Unknown|             Unknown|             50614|             29173|             28116|             28771|             29531|             30211|                   0|                1500|                1100|                1200|                1300|                1100|                         0|                  2.0|
|        16|    20000|  Male|Graduate school|  Single|24.0|             Unknown|             Unknown|Payment delayed 2...|Payment delayed 2...|Payment delayed 2...|Payment delayed 2...|             15376|             18010|             17428|             18338|             17905|             19104|                3200|                   0|                1500|                   0|                1650|                   0|                         1|                  0.0|
|        17|   320000|  Male|Graduate school| Married|49.0|             Unknown|             Unknown|             Unknown|          Payed duly|          Payed duly|          Payed duly|            253286|            246536|            194663|             70074|              5856|            195599|               10358|               10000|               75940|               20000|              195599|               50000|                         0|                  0.0|
|        18|   360000|Female|Graduate school| Married|49.0|Payment delayed 1...|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|                 0|                 0|                 0|                 0|                 0|                 0|                   0|                   0|                   0|                   0|                   0|                   0|                         0|                  2.0|
|        19|   180000|Female|Graduate school|  Single|29.0|Payment delayed 1...|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|                 0|                 0|                 0|                 0|                 0|                 0|                   0|                   0|                   0|                   0|                   0|                   0|                         0|                  2.0|
+----------+---------+------+---------------+--------+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------------+---------------------+
only showing top 20 rows

In [ ]:
df.dropna().show()

+----------+---------+------+---------------+--------+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------------+
|Unnamed: 0|limit_bal|   sex|      education|marriage| age|  payment_status_sep|  payment_status_aug|  payment_status_jul|  payment_status_jun|  payment_status_may|  payment_status_apr|bill_statement_sep|bill_statement_aug|bill_statement_jul|bill_statement_jun|bill_statement_may|bill_statement_apr|previous_payment_sep|previous_payment_aug|previous_payment_jul|previous_payment_jun|previous_payment_may|previous_payment_apr|default_payment_next_month|
+----------+---------+------+---------------+--------+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------------+
|         0|    20000|Female|     University| Married|24.0|Payment delayed 2...|Payment delayed 2...|          Payed duly|          Payed duly|             Unknown|             Unknown|              3913|              3102|               689|                 0|                 0|                 0|                   0|                 689|                   0|                   0|                   0|                   0|                         1|
|         1|   120000|Female|     University|  Single|26.0|          Payed duly|Payment delayed 2...|             Unknown|             Unknown|             Unknown|Payment delayed 2...|              2682|              1725|              2682|              3272|              3455|              3261|                   0|                1000|                1000|                1000|                   0|                2000|                         1|
|         2|    90000|Female|     University|  Single|34.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             29239|             14027|             13559|             14331|             14948|             15549|                1518|                1500|                1000|                1000|                1000|                5000|                         0|
|         3|    50000|Female|     University| Married|37.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             46990|             48233|             49291|             28314|             28959|             29547|                2000|                2019|                1200|                1100|                1069|                1000|                         0|
|         4|    50000|  Male|     University| Married|57.0|          Payed duly|             Unknown|          Payed duly|             Unknown|             Unknown|             Unknown|              8617|              5670|             35835|             20940|             19146|             19131|                2000|               36681|               10000|                9000|                 689|                 679|                         0|
|         5|    50000|  Male|Graduate school|  Single|37.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             64400|             57069|             57608|             19394|             19619|             20024|                2500|                1815|                 657|                1000|                1000|                 800|                         0|
|         6|   500000|  Male|Graduate school|  Single|29.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|            367965|            412023|            445007|            542653|            483003|            473944|               55000|               40000|               38000|               20239|               13750|               13770|                         0|
|         7|   100000|Female|     University|  Single|23.0|             Unknown|          Payed duly|          Payed duly|             Unknown|             Unknown|          Payed duly|             11876|               380|               601|               221|              -159|               567|                 380|                 601|                   0|                 581|                1687|                1542|                         0|
|         8|   140000|Female|    High school| Married|28.0|             Unknown|             Unknown|Payment delayed 2...|             Unknown|             Unknown|             Unknown|             11285|             14096|             12108|             12211|             11793|              3719|                3329|                   0|                 432|                1000|                1000|                1000|                         0|
|         9|    20000|  Male|    High school|  Single|35.0|             Unknown|             Unknown|             Unknown|             Unknown|          Payed duly|          Payed duly|                 0|                 0|                 0|                 0|             13007|             13912|                   0|                   0|                   0|               13007|                1122|                   0|                         0|
|        10|   200000|Female|    High school|  Single|34.0|             Unknown|             Unknown|Payment delayed 2...|             Unknown|             Unknown|          Payed duly|             11073|              9787|              5535|              2513|              1828|              3731|                2306|                  12|                  50|                 300|                3738|                  66|                         0|
|        11|   260000|Female|Graduate school|  Single|51.0|          Payed duly|          Payed duly|          Payed duly|          Payed duly|          Payed duly|Payment delayed 2...|             12261|             21670|              9966|              8517|             22287|             13668|               21818|                9966|                8583|               22301|                   0|                3640|                         0|
|        12|   630000|Female|     University|  Single|41.0|          Payed duly|             Unknown|          Payed duly|          Payed duly|          Payed duly|          Payed duly|             12137|              6500|              6500|              6500|              6500|              2870|                1000|                6500|                6500|                6500|                2870|                   0|                         0|
|        13|    70000|  Male|     University|  Single|30.0|Payment delayed 1...|Payment delayed 2...|Payment delayed 2...|             Unknown|             Unknown|Payment delayed 2...|             65802|             67369|             65701|             66782|             36137|             36894|                3200|                   0|                3000|                3000|                1500|                   0|                         1|
|        14|   250000|  Male|Graduate school|  Single|29.0|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|             70887|             67060|             63561|             59696|             56875|             55512|                3000|                3000|                3000|                3000|                3000|                3000|                         0|
|        15|    50000|Female|    High school|  Others|23.0|Payment delayed 1...|Payment delayed 2...|             Unknown|             Unknown|             Unknown|             Unknown|             50614|             29173|             28116|             28771|             29531|             30211|                   0|                1500|                1100|                1200|                1300|                1100|                         0|
|        16|    20000|  Male|Graduate school|  Single|24.0|             Unknown|             Unknown|Payment delayed 2...|Payment delayed 2...|Payment delayed 2...|Payment delayed 2...|             15376|             18010|             17428|             18338|             17905|             19104|                3200|                   0|                1500|                   0|                1650|                   0|                         1|
|        17|   320000|  Male|Graduate school| Married|49.0|             Unknown|             Unknown|             Unknown|          Payed duly|          Payed duly|          Payed duly|            253286|            246536|            194663|             70074|              5856|            195599|               10358|               10000|               75940|               20000|              195599|               50000|                         0|
|        18|   360000|Female|Graduate school| Married|49.0|Payment delayed 1...|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|                 0|                 0|                 0|                 0|                 0|                 0|                   0|                   0|                   0|                   0|                   0|                   0|                         0|
|        19|   180000|Female|Graduate school|  Single|29.0|Payment delayed 1...|             Unknown|             Unknown|             Unknown|             Unknown|             Unknown|                 0|                 0|                 0|                 0|                 0|                 0|                   0|                   0|                   0|                   0|                   0|                   0|                         0|
+----------+---------+------+---------------+--------+----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------------+
only showing top 20 rows

In [ ]:
df_agg = df.dropna().groupBy('payment_status_sep').agg(count('age').alias('count'),avg('default_payment_next_month').alias('avg_default'))

In [ ]:
df_agg.orderBy(df_agg.payment_status_sep.desc()).show()

+--------------------+-----+-------------------+
|  payment_status_sep|count|        avg_default|
+--------------------+-----+-------------------+
|             Unknown|17413|0.12881180727043015|
|Payment delayed 8...|   18| 0.6111111111111112|
|Payment delayed 7...|    9| 0.7777777777777778|
|Payment delayed 6...|   11| 0.5454545454545454|
|Payment delayed 5...|   26|                0.5|
|Payment delayed 4...|   76| 0.6842105263157895|
|Payment delayed 3...|  319| 0.7617554858934169|
|Payment delayed 2...| 2649| 0.6919592298980748|
|Payment delayed 1...| 3666| 0.3393344244408074|
|          Payed duly| 5663|0.16757902171993644|
+--------------------+-----+-------------------+

In [ ]:
import plotly.express as px

df_agg_pd = df_agg.orderBy(df_agg.payment_status_sep.desc()).toPandas()

fig = px.bar(df_agg_pd, x='payment_status_sep', y='avg_default', text='avg_default')
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.show()

In [ ]:
df.dropna().cube(df.sex,df.education,df.marriage).avg("age").show()

+------+---------------+--------+------------------+
|   sex|      education|marriage|          avg(age)|
+------+---------------+--------+------------------+
|Female|     University|  Others|              40.5|
|  NULL|           NULL| Married| 40.02337623908862|
|Female|            NaN|  Single|  30.3953488372093|
|  NULL|           NULL|    NULL| 35.49011725293132|
|  Male|           NULL|  Single| 32.16439205955335|
|  Male|         Others|    NULL|36.970238095238095|
|   NaN|           NULL|  Single|30.948051948051948|
|  NULL|     University|  Others|40.544910179640716|
|  NULL|    High school|  Others| 43.97931034482759|
|Female|            NaN|    NULL|33.833333333333336|
|  NULL|         Others|    NULL| 36.13763440860215|
|  NULL|           NULL|  Others| 42.01340482573727|
|   NaN|           NULL|  Others|43.666666666666664|
|Female|     University|    NULL| 34.20874868066143|
|  NULL|    High school|     NaN| 42.13333333333333|
|  Male|           NULL|    NULL| 36.52009858077675|
|Female|           NULL|  Others|41.502202643171806|
|Female|           NULL|     NaN| 35.40860215053763|
|  NULL|Graduate school|     NaN|34.391304347826086|
|  Male|    High school|     NaN|46.333333333333336|
+------+---------------+--------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import min, max

oldest = df.select(max("age")).collect()[0][0]
youngest = df.select(min("age")).collect()[0][0]

print("Oldest pickup date: ", oldest)
print("Latest pickup date: ", youngest)

Oldest pickup date:  nan
Latest pickup date:  21.0

In [ ]:
# min max values of target feature "fare_amount"

df.select(min('bill_statement_sep').alias('min'), max('bill_statement_sep').alias('max')).show()

+-------+------+
|    min|   max|
+-------+------+
|-165580|964511|
+-------+------+

In [ ]:
df_cube = ps.DataFrame(df.dropna().cube(df.sex,df.education,df.marriage).avg("age"))

In [ ]:
df_cube

        sex        education marriage   avg(age)
0    Female       University   Others  40.500000
1      None             None  Married  40.023376
2    Female              NaN   Single  30.395349
3      None             None     None  35.490117
4      Male             None   Single  32.164392
5      Male           Others     None  36.970238
6       NaN             None   Single  30.948052
7      None       University   Others  40.544910
8      None      High school   Others  43.979310
9    Female              NaN     None  33.833333
10     None           Others     None  36.137634
11     None             None   Others  42.013405
12      NaN             None   Others  43.666667
13   Female       University     None  34.208749
14     None      High school      NaN  42.133333
15     Male             None     None  36.520099
16   Female             None   Others  41.502203
17   Female             None      NaN  35.408602
18     None  Graduate school      NaN  34.391304
19     Male      High school      NaN  46.333333
20      NaN  Graduate school     None  35.607843
21     None  Graduate school   Others  41.735849
22   Female       University  Married  37.548571
23     None           Others      NaN  37.000000
24     Male       University  Married  40.351907
25     Male           Others   Single  32.626506
26      NaN           Others   Others  46.000000
27   Female           Others   Others  38.800000
28   Female  Graduate school   Others  38.136364
29      NaN       University     None  34.507042
30     Male       University      NaN  35.620690
31      NaN      High school     None  40.347826
32     None  Graduate school     None  34.231892
33     None           Others   Single  32.620536
34     None             None      NaN  36.442953
35      NaN             None  Married  41.185714
36     None       University   Single  30.877749
37     None             None   Single  31.451170
38   Female      High school   Others  43.438776
39   Female           Others   Single  32.507246
40   Female      High school      NaN  40.333333
41     Male  Graduate school   Single  31.706269
42   Female       University      NaN  35.121951
43     Male       University   Others  40.555556
44      NaN           Others   Single  37.666667
45   Female             None     None  34.810182
46   Female       University   Single  30.394612
47     Male      High school     None  40.301279
48     Male  Graduate school   Others  44.290323
49   Female              NaN  Married  36.978723
50   Female  Graduate school     None  33.029651
51      NaN       University  Married  38.540541
52     Male       University     None  35.567409
53     None  Graduate school   Single  30.760685
54   Female           Others  Married  38.398649
55     Male       University   Single  31.569488
56     Male              NaN  Married  42.806452
57     Male             None   Others  42.790210
58     None           Others  Married  39.456522
59     None       University      NaN  35.328571
60     Male  Graduate school     None  35.935664
61     Male              NaN   Single  32.444444
62     Male             None  Married  41.812500
63      NaN      High school   Single  34.142857
64     None       University     None  34.728156
65      NaN       University   Single  29.343750
66      NaN      High school  Married  43.062500
67   Female  Graduate school  Married  38.884925
68   Female      High school   Single  36.318318
69     Male           Others  Married  41.333333
70      NaN  Graduate school  Married  45.250000
71   Female           Others     None  35.582192
72     None  Graduate school  Married  40.481310
73     Male      High school  Married  44.296260
74     None              NaN  Married  39.294872
75   Female      High school  Married  42.418552
76   Female      High school     None  40.326403
77     None           Others   Others  38.875000
78   Female           Others      NaN  27.000000
79     Male  Graduate school  Married  42.350211
80     Male      High school   Single  35.387316
81     Male             None      NaN  38.160714
82     None              NaN   Single  31.185714
83     None      High school     None  40.316406
84      NaN       University   Others  42.500000
85     Male      High school   Others  45.106383
86     None       University  Married  38.523647
87     None              NaN     None  35.459459
88      NaN             None     None  35.980000
89     Male  Graduate school      NaN  37.687500
90     Male              NaN     None  37.982759
91   Female             None   Single  30.960043
92     None      High school   Single  35.875066
93   Female  Graduate school   Single  30.160400
94   Female             None  Married  38.913665
95      NaN  Graduate school   Single  31.200000
96     None      High school  Married  43.103571
97   Female  Graduate school      NaN  32.633333
98      NaN           Others     None  40.600000
99     Male           Others   Others  35.500000
100    Male           Others      NaN  42.000000
101     NaN           Others  Married  44.000000

In [ ]:
df.createOrReplaceTempView("table1")

query = "SELECT education, round(avg(limit_bal),2) as avg_credit_limit from table1 where education != 'NaN' group by education"

df_sql = spark.sql(query)

In [ ]:
df_sql.show()

+---------------+----------------+
|      education|avg_credit_limit|
+---------------+----------------+
|Graduate school|       213016.04|
|         Others|        181383.3|
|    High school|       126554.99|
|     University|       147082.81|
+---------------+----------------+

In [ ]:
ps.DataFrame(df_sql).plot.bar(x='education',y='avg_credit_limit')

In [ ]:
spark.sql("SELECT * FROM table1 WHERE education = 'University' and sex = 'Female'").show()